*{
    margin: 0%;
    padding: 0%;
}

.heading{
     border-bottom: 1px solid gray;
     /* border-top: 1px solid gray; */
     display: flex;
     justify-content: flex-end;
}
.heading a{
    font-size: 20px;
    padding: 5px;
    margin-top: 5px;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    
}
.nav-top{
    height: 40px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 17%, rgba(1,76,114,1) 61%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;

}
.nav-top  a{
    font-size: 18px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
.image{
    background-color: aqua;
    height: 60vh;
    background-image: url(./img/Website_Banner.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
}
.nav-bottom {
    height: 40px;
    background-color: rgba(6, 6, 53, 0.972);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
}
.nav-bottom a{
    font-size: 18px;
    padding: 5px;
    color: white;
    text-decoration: none;
}
/* ================================================== */

.mid-body{
    /* background-color: aqua; */
    /* height: 80vh; */
    width: 100%;
    display: flex;
    /* flex-wrap: wrap; */
}
.work-card{
    /* background-color: brown; */
    flex-basis: 70%;
    flex-grow: 2;
    /* height: 80vh; */
    /* margin-left: 150px; */
}

.card1{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 120px;
    max-width: 800px;
    height: 150px;
    border-radius: 10px;
    border: 1px solid rgb(235, 231, 231);
    border-top: 6px inset orange;
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
    /* transition: 0.2s ease-in-out; */
}
.card1 a{
    text-decoration: none;
    font-size: 20px;
}
.card1 .card-content{
    padding-right: 50px;

}
/* --------------------------------------------------------------------- */
.card2{
       display: flex;
       align-items: center;
       justify-content: space-evenly;  
       margin-top: 50px;
       margin-left: 120px;
       height: 200px;
       max-width: 800px;
       border-radius: 10px;
       border: 1px solid rgb(235, 231, 231);
       border-top: 6px solid rgb(7, 7, 124);
       box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
        
}

.card2 img{
    margin-top: -120px;
}
.card-content h4{
    color: green;
}

.card2 a{
    text-decoration: none;  
}
/* ------------------------------------------------------------ */

.card3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    margin-top: 50px;
    margin-left: 120px;
    height: 200px;
    max-width: 800px;
    border-radius: 10px;
    border: 1px solid rgb(235, 231, 231);
    border-top: 6px solid rgb(7, 7, 124);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
}
.card3 img{
    margin-top: -120px;
    margin-left: -130px;
}
.card3 a{
    text-decoration: none;
}
.card3 .card-content{
    margin-left: -130px;
}
/* ========================================================= */
.card4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;  
    margin-top: 50px;
    margin-left: 120px;
    height: 200px;
    max-width: 800px;
    border-radius: 10px;
    border: 1px solid rgb(235, 231, 231);
    border-top: 6px solid rgb(7, 7, 124);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
}
.card4 img{
    margin-top: -120px;
    margin-left: -50px;
}
.card4 .card-content{
    margin-left: -50px;
}
.card4 a{
    text-decoration: none;
}
.media-card{
    /* background-color: aqua; */
    max-width: 800px;
    margin-left: 120px;
    margin-top: 100px;
}
.media-head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    /* flex-wrap: wrap; */
    /* background-color: aqua; */
}
.media-head a{
    text-decoration: none;    
}
.media-card .tx{
    color: rgb(63, 63, 63);
    font-family: sans-serif;
}
.head-txt{
    display: flex;
}
.head-txt h5{
    font-size: 25px;
    padding-left: 10px;
    font-family: sans-serif;
}
.media-card .card-content{
    display: flex;
    flex-basis: 450px;
    justify-content: space-around;
    
}

.media-card1{
    max-width: 400px;
    height: 150px;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
}
.card-content .date,.menu{
    color: grey;
    font-family: sans-serif;
}
.card-content a{
    text-decoration: none;
}


.media-card2{
    max-width: 400px;
    height: 150px;
    border-radius: 10px;
    margin-top: 30px;
    padding-left: 30px;
    padding-right: 70px;
    padding-top: 20px;
    padding-bottom: 10px;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
}

.telecast-card{
    /* background-color: yellow; */
    max-width: 800px;
    margin-left: 120px;
    margin-top: 80px;           
}
.telecast-head{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    /* background-color: aqua; */
}
.telecast-head a{
    text-decoration: none;
}
.tele-txt{
    display: flex;
}
.tele-txt h5{
    font-size: 25px;
    padding-left: 10px;
    font-family: sans-serif;
}
.telecast-content{
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
}
.tele-card1{
    max-width: 380px;
    height: 200px;
    border-radius: 10px;
    margin-right: 20px;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
}
.tele-card1 video{
       width: 380px;
       height: 180px;
}
.tele-card2{
    max-width: 380px;
    height: 200px;
    border-radius: 10px;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
}
.tele-card2 video{
    width: 380px;
    height: 180px;
}
.aadhar-num{
    /* background-color: aqua; */
    margin-top: 50px;
    margin-left: 150px;
}
.aadhar-txt{
    display: flex;
}
.aadhar-txt h5{
    font-size: 25px;
    padding-left: 10px;
    font-family: sans-serif;  
}
.aadhar-txt1{
    margin-top: 20px;
}
.aadhar-txt1 a{
    text-decoration: none;
    padding: 3%;
    font-family: sans-serif;
    cursor: text;
    color: gray;
}
.aadhar-txt2{
    margin-top: 20px;
}
.aadhar-txt2 a{
    text-decoration: none;
    padding: 3%;
    font-family: sans-serif;
    cursor: text;
}
/* ================================================== */
.work-content{
    /* background-color: blue; */
    flex-basis: 40%;
    flex-grow: 1;

}

.top-content{
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 30px;  
}
.top-content > img{
    width: 30px;
    height: 30px;
}
.cards1 ,.cards2,.cards3,.cards4{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 370px;
    height: 50px;
    margin-top: 20px;
    margin-left: 10px;
    padding-right: 30px;
    padding-left: 30px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);
}
.cards1,.cards2,.cards3,.cards4 p{
    font-size: 20px;
    font-family: sans-serif;
    color: rgb(106, 105, 105);
}
.bottom-content{
     margin-top: 30px;
      margin-left: 200PX;
}
/* ============================ */
.poster-card1{
          max-width: 400px;
          height: 500px;
          margin-left: 30px;
          margin-top: 30px;
          border-radius: 10px;
          border: 1px solid rgb(235, 231, 231);
          box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);             
}
.poster-card1 .txt:hover{
         transition: 0.10s ease-in-out;
         background-color: rgba(232, 249, 255, 0.72);
         cursor: pointer;
}
.poster-card1 .card-1:hover{
         transition: 0.10s ease-in-out;
         background-color: rgb(244, 246, 253);
         cursor: pointer;
}

.txt {
           border-bottom: 1px solid gray;
           padding: 10px;
           display: flex;
           align-items: center;
           font-family: sans-serif;
           font-size: 25px;
           color: rgb(3, 0, 0);
}
.card-1{
    overflow: auto;
    height: 450px;
    max-width: 400px;
}
.card-1 .head1{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.head1 img{
    width: 50px;
    height: 60px;
}
.card-1 .txt-bg{
    margin-top: 20px;
    margin-left: 20px;
}
.txt-bg h5{
    font-size: 15px;
    font-family: sans-serif;
}
.txt-img img{
       width:30px;
       height: 30px;
    /* background-color: aqua; */
    margin-left: 150px;
    margin-top: 10px;
}
.txt-content{
    margin-top: 30px;
    margin-left: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}
.txt-content a{
    color: rgb(27, 142, 187);
}
/* ====================================== */
.poster-card2{
    max-width: 400px;
    height: 500px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid rgb(235, 231, 231);
    box-shadow: 2px 3px 3px rgba(6, 8, 41, 0.2);    
}
.head2{
    display: flex;
    border-bottom: 1px solid gray;
}
 .head2>img{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 1px solid black;
}

.head2 .txt2{
    margin-top: 15px;
    margin-left: 20px;
}

.head2 h3{
    color: rgb(70, 92, 144);
    font-family: sans-serif;
    font-size: 20px;
}
.head2 p{
    border: 1px solid gray;
    background-color: rgb(218, 213, 213);
}
.head2 h6{
    margin-top: 50px;
    margin-left: 10px;
    font-size: 15px;
    font-family:  sans-serif;
    color: grey;
}
 .image2 img{
      width: 380px;
      cursor: pointer;
}
.image2{
    overflow: auto;
    height: 430px;
    /* width: 0px; */
}
.poster-card3 img{
      width: 400px;
      margin-top: 30px;
      margin-left: 30px;
      border-radius: 10px;
}

/* ===============================================footer============================== */
/* css over in img css  google site*/  
/* linearGradient google site */
.image-footer{
    width: 100%;
    height: 75vh;
    margin-top: 50px; 
    background: black;
    overflow: hidden;
    background: #1e37c8;
    /* background: -webkit-linear-gradient(rgba(29, 38, 113, 0.8), rgba(195, 55, 100, 0.8)), url(img/footer-bg.jpg); */
    background: linear-gradient(rgba(29, 38, 113, 0.8), rgba(71, 160, 243, 0.8)), url(img/footer-bg.jpg);
}
.footer-txt{
    display: flex;
    /* flex-wrap: wrap; */
}
.txt-bg1{
      width: 25%;
      height: 80vh;
      flex-grow: 2;
      /* background-color: aqua; */
      margin-top: 50px;
      margin-left: 150px;
}
.contact h1{
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
.number p{
    border: 1px solid white;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    width: 180px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 10px;
}
.number img{
    width: 30px;
    padding-right: 10px;

}
.mail p{
    border: 1px solid white;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    width: 200px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-bottom: 30px;
}
.mail img{
    width: 20px;
    padding-right: 10px;
}
.follow .icons{
    /* background-color: rgb(8, 0, 255); */
    margin-bottom: 40px;
}
.follow h1{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}
.follow h2{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}
.follow a{
    font-family: sans-serif;
    font-size: 15px;
    color: white;
}
.txt-bg2{
    width: 25%;
    height: 80vh;
    flex-grow: 2;
    /* background-color: blueviolet; */
    margin-top: 50px;
    margin-left: 10px;
}
.txt-bg2  h1,h2,h3{
    color: white;
    font-family: sans-serif;
}
.txt-bg2>p{
    color: white;
    font-family: sans-serif;
}
.txt-bg2 h2{
    font-size: 20px;
}
.droplist{
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 10px;
    height: 30px;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    width: 200px;
    justify-content: space-between;
    background-color: aliceblue;
}
.droplist p{
    color: black;
}

.txt-bg3{
    width: 25%;
    height: 80vh;
    flex-grow: 2;
    /* background-color: red; */
    margin-top: 50px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.txt-bg3 a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.txt-bg4{
     width: 35%;
     height: 80vh;
     flex-grow: 2;
     /* background-color: yellow; */
     margin-top: 50px;
     display: flex;
     flex-direction: column;
}
.txt-bg4 h2{
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}
.txt-bg4 a{
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

/* ------------------------media query-------------------------------------- */
@media screen and (max-width:1350px){
        .mid-body{
            display: flex;
            flex-wrap: wrap;
        }
         .work-card{
            /* background-color: aqua; */
            flex-basis: 900px;
            padding-left: 200px;
            padding-right: 200px;
             
         }
         .work-content{
            /* background-color: yellow; */
            flex-basis: 450px;
            padding-left: 400px;
            padding-right: 400px;
            margin-bottom: 200px;
            margin-top: 20px;
         }
    
}

@media screen and (max-width:450px){
    .heading {
        display: none;
    }
    .mid-body{
        display: block;
    }
    
        .work-card{
            flex-grow: 1;
            padding: 0;
            margin: 0;
        }

        .card1, .card2, .card3, .card4 {
            height: auto;
            width: auto;
            margin: 0;
            margin: 20px;
            /* padding: 20px; */
        }

        .card4 .card-content{ 
            margin: 0;
            padding: 0;
        }

        .card3 .card-content{ 
            margin: 0;
            padding: 0;
        }
        .card2 img{
            margin: 0;
        }
        .card3 img {
          margin: 0;
        }

        .card4 img {
            margin: 0;
                    }
                    
        .image{
            background-color: transparent;
            height: 13vh;
            background-image: url(./img/Website_Banner.jpg);
            background-repeat: no-repeat;
            background-size:contain;
            background-position: center;
            width: auto;
           }
        
         
         .media-head{
            flex-direction: column;
         }
        .card-content{
            flex-direction: column;
        }
       
        .tele-card1{
            margin-bottom: 20px;
        }
        .telecast-content{
            flex-direction: column;
        }
        .telecast-head{
            flex-direction: column;
        }
       
        .heading{
            flex-direction: column;
            justify-content: center;
        }
        .navbar{
            flex-wrap: wrap;
            justify-content: center;
        }
        .navbar .img1{
            flex-direction: column;
            flex-wrap: wrap;
        }
         .nav-top .menu >a{
            flex-direction: column;
        }
        .nav-bottom .menu{
            flex-direction: column;
        }
        .work-content{
            padding: 0;
            margin: 20px
        }
         .poster-card3 img{
            /* width: 380px;
            margin: 20px;
            padding: 0; */
            display: none;
            /* background-color: aqua; */
        }
        .media-card{
            margin: 20px;
            padding: 0;
        }
        .media-card1{
            height: auto;
        }
        .telecast-card{
            margin: 20px;
            padding: 0;
        }
        .tele-card1{
            max-width: 380px
        }
        .tele-card1 video{
            width: 350px;
        }
        .tele-card2{
            max-width: 380px;
        }
        .tele-card2 video{
            width: 350px;
        }
        .aadhar-num{
            margin: 50px;
            padding: 0;
        }
        .top-work{
            margin: 0;
            padding: 0;
        }
        .mid-work{
            margin: 0;
        }
        footer{
            margin-top: 20px;
        }
        .footer-txt{
            flex-wrap: wrap; 
        }
        .txt-bg1{
            margin: 0;
            width: 180px;
        }
        
        .txt-bg2{
            margin: 0;
            width: 180px;
        }
        .txt-bg3{
            margin: 0;
            width: 180px;
        }
        .txt-bg4{
            margin: 0;
            width: 180px;
        }
      
        .image-footer{
            width: 100%;
            height: 90vh;
        }
        .txt-bg3,.txt-bg4{
            margin-top: -200px;
            width: 200px;
        }
        .nav-top{
            height: auto;
            padding: 0;
            /* flex-wrap: wrap; */
        }
        
        .nav-top a{
            padding: 0;
            font-size: 15px;
        }
        .nav-bottom{
            padding: 0;
            margin: 0;
        }
        .nav-bottom a{
            padding: 0;
            font-size: 15px;
        } 
    }






